.header {
  width: 100vw;
  height: fit-content;
  position: fixed;
  z-index: 100;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: large;
  font-weight: 500;
  justify-content: space-between;
}

.header img {
  width: 10vw;
}

.boxImg {
  display: flex;
  align-items: center;
}

.translation {
  display: flex;
  gap: 1vw;
  padding-right: 3vw;
}

.lang:hover {
  cursor: pointer;
}

.langActive {
  background-color: #000;
  color: #fff;
  border-radius: 2px;
}

.container {
  display: flex;
  padding-top: 8vw;
}

.containerProduct {
  position: fixed;
  z-index: 0;
  width: 60vw;
  height: 90vh;
  padding: 2vw 0;
  background-color: rgb(192, 226, 247);
  overflow-y: scroll;
}

.containerBasket {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  background-color: rgb(232, 232, 229);
  position: fixed;
  right: 0;
  height: 100vh;
}

.basketList {
  padding: 3vw 0 2vw 0;
  color: rgb(193, 102, 102);
}

.containerDataList {
  width: 100%;
}

.mapData {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataList {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 4fr;
  text-align: left;
  align-items: baseline;
  margin: 2vw 0;
}

.dataList button {
  text-decoration: none;
  background-color: rgb(224, 235, 242);
  color: rgb(33, 77, 106);
  border: 2px solid rgb(192, 226, 247);
  border-radius: 8px;
}

.dataList button:hover {
  cursor: pointer;
}

.text {
  padding-left: 2vw;
  color: gray;
}

.count {
  text-align: center;
  color: rgb(33, 77, 106);
}

.resetConianer {
  display: flex;
  align-items: end;
  gap: 2px;
  position: absolute;
  bottom: 30vw;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 1px solid #fff;
  background-color: rgb(255, 127, 133);
}

.circle:hover {
  cursor: pointer;
}

.total {
  width: 20vw;
  position: absolute;
  bottom: 20vw;
  padding: 1vw;
  background-color: rgb(224, 209, 209);
  border: 2px solid rgb(193, 102, 102);
  border-radius: 2px;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}
