.header {
  width: 100vw;
  height: fit-content;
  position: fixed;
  z-index: 999;
  background-color: #fff;
}

.header img {
  width: 10vw;
}

.container {
  display: flex;
  padding-top: 10vw;
}

.containerProduct {
  position: fixed;
  z-index: 0;
  width: 60vw;
  height: 90vh;
  background-color: aquamarine;
  overflow-y: scroll;
}
.containerBasket {
  width: 40vw;
  background-color: yellow;
  position: fixed;
  right: 0;
  height: 100vh;
}

.mapData {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dataList {
  display: flex;
  margin: 2vw;
  gap: 2vw;
}
