.container {
  display: flex;
}
.containerProduct {
  width: 70vw;
  height: fit-content;
  background-color: aquamarine;
}
.containerBasket {
  width: 30vw;
  background-color: yellow;
}

.image {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
